.img-circle {
  border-radius: 50%;
}

.img-crop {
  height: 285px;
  overflow: hidden;
  border-radius: 5px;
}

.sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#resume h2, #resume p, #resume ul {
  margin-left: 30px;
}
